:root {
	--primary-color: #F5F3F4;
	--secondary-color: #0B090A;
	--button-color: #F5F3F4;
	--accent1-color: #660708;
	--accent2-color: #161A1D;

	--heading-font: "Poppins", sans-serif;
	--paragraph-font: Lato, sans-serif;
	--paragraph-font-size: 1rem;
	--heading-font-size: 1.5rem;

	--button-radius: 8px;
}

.dark-mode {
	--primary-color: #0B090A;
	--secondary-color: #F5F3F4;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#menu {
	display: block;
	font-size: 2rem;
	font-weight: 700;
	text-decoration: none;
	padding: .5rem .75rem;
	color: var(--primary-color);
	grid-column: 3;
}

#menu::before {
	content: "≡";
}


#menu.show::before {
	content: "X";
}

header nav {
	grid-column: 2;
}

.navigation {
	list-style: none;
	margin: 0 auto;
	max-width: 760px;
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	color: white;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
	background-color: var(--secondary-color);
	color: var(--primary-color);
}

.navigation a:hover,
navigation a:active {
	color: var(--button-color);
	background-color: var(--accent1-color);
	border-radius: var(--button-radius);
}

#active {
	background-color: var(--accent1-color);
	border-radius: var(--button-radius);
}

.show li {
	display: block;
}

header {
	background-color: var(--secondary-color);
	color: var(--primary-color);
	padding: 1em;
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	font-family: var(--heading-font);
}

header h1 {
	font-family: var(--heading-font);
	font-size: 2rem;
	font-weight: 700;
	text-align: left;
}

header hr {
	grid-column: 1/4;
}

header #menu {
	text-align: right;
}

#theme-toggle {
	position: absolute;
	right: 0.1rem;
	font-size: 1.2rem;
}

main {
	background-color: var(--primary-color);
	color: var(--secondary-color);
	padding: 1.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

main h1 {
	font-family: var(--heading-font);
	font-size: 2rem;
	font-weight: 700;
	margin: 1em;
}

main p {
	font-family: var(--paragraph-font);
	font-size: var(--paragraph-font-size);
	line-height: 1.5;
	margin: 1em;
	text-align: center;
}

main img {
	max-width: 80%;
	height: auto;
	margin: 2em;
	border-radius: 20px;
}

main img.feature-image {
	max-width: 800px;
	width: 100%;
	height: auto;
	aspect-ratio: 16/9;
	object-fit: cover;
	margin: 2em auto;
	border-radius: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#summary {
	text-align: center;
	max-width: 900px;
}

button {
	background-color: var(--accent1-color);
	border: none;
	color: var(--button-color);
	padding: 0.5em 1em;
	font-size: 1rem;
	font-weight: 700;
	cursor: pointer;
	border-radius: var(--button-radius);
}

details {
	font-size: 1rem;
	width: 100%;
	max-width: 800px;
	margin: 0.5rem auto;
}

summary {
	background-color: var(--accent1-color);
	color: var(--primary-color);
	list-style: none;
	padding: 1rem;
	margin: 0.5rem 0;
	border-radius: var(--button-radius);
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: var(--heading-font);
	font-size: 1.1rem;
	transition: background-color 0.3s ease;
}

summary:hover {
	background-color: #7d090a;
	/* slightly lighter than accent1-color */
}

.response {
	color: var(--primary-color);
	background-color: var(--accent2-color);
	border-radius: 0 0 var(--button-radius) var(--button-radius);
	padding: 1.2rem;
	margin-top: -0.5rem;
	font-family: var(--paragraph-font);
	font-size: var(--paragraph-font-size);
	line-height: 1.6;
}

details[open] summary {
	border-radius: var(--button-radius) var(--button-radius) 0 0;
	border-bottom: none;
	margin-bottom: 0;
}

details[open] .response {
	border-top: 2px solid var(--accent1-color);
}

summary:after {
	content: "+";
	font-size: 1.2rem;
	font-weight: bold;
	transition: transform 0.3s ease;
}

details[open] summary:after {
	content: "-";
}

#faq-section {
	width: 100%;
	max-width: 800px;
	margin: 2rem auto;
	padding: 0 1rem;
}

summary::-webkit-details-marker {
	display: none;
}

details[open] summary:after {
	content: "➖";
}

details[open] summary {
	border-bottom: 1px solid #aaa;
	margin-bottom: .5em;
}

details[open] div {
	padding: .5em 1em;
}

#articles {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	padding: 1rem;
}

.card {
	padding: 1em;
	margin: 0;
	border: 2px solid var(--accent1-color);
	border-radius: var(--button-radius);
	background-color: var(--accent2-color);
	color: #F5F3F4;
}

.card p {
	font-family: var(--paragraph-font);
	font-size: var(--paragraph-font-size);
	line-height: 1.5;
	margin: 1em;
	text-align: center;
}

.card img {
	width: 100%;
	height: 200px;
	object-fit: cover;
	border-radius: var(--button-radius);
}

footer {
	background-color: var(--secondary-color);
	color: var(--primary-color);
	padding: 1em;
	text-align: center;
}

#footer {
	display: flex;
}

#footer li {
	display: block;
	flex: 1 1 100%;
}

#footer a {
	text-align: center;
}

.modal {
	position: fixed;
	inset: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(22, 26, 29, 0.8);
}

.modal-content {
	position: relative;
	width: 600px;
	max-width: 90%;
	max-height: 90%;
	overflow-y: auto;
	background-color: var(--primary-color);
	color: var(--secondary-color);
	font-family: var(--paragraph-font);
	padding: 1.5rem;
	border-radius: var(--button-radius);
	text-align: center;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#modal-title {
	text-align: center;
	margin-bottom: 1rem;
	font-family: var(--heading-font);
	font-size: var(--heading-font-size);
}

.modal-content img {
	max-width: 100%;
	max-height: 300px;
	object-fit: contain;
	display: block;
	margin: 0 auto 1rem;
	margin-top: 10px;
}

.close-modal {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	font-size: 1.5rem;
	color: var(--secondary-color);
	cursor: pointer;
}

/* Wide screen view */
@media only screen and (min-width: 60em) {
	.navigation {
		display: flex;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}

	.navigation a {
		text-align: center;
	}

	#menu {
		display: none;
	}

	#theme-toggle {
		right: 3rem;
	}
}