form {
  margin: 2rem auto;
  background-color: var(--secondary-color);
	color: var(--primary-color);
  width: 80%;
  max-width: 600px;
  padding: 2rem;
  border: 2px solid var(--accent1-color);
  border-radius: var(--button-radius);
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

#message {
	margin-bottom: 1rem;
	width: 100%;
}